.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
@media only screen and (max-width: 600px) {
 .header-container{
    flex-direction: column;
 }
  }